<%- include ../components/header %>
<%- include ../components/navbar %>

<section class="elements-area mt-50 section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/sql" method="post">
                    <textarea name="query" cols="30" rows="10"></textarea>
                    <input type="submit" value="Executer">
                </form>
            </div>
        </div>
    </div>
</section>

<%- include ../components/footer %>

<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
</body>

</html>