<footer class="footer-area">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href="#"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <p>ISTAG Bab Tizimi : Institut de Technologie Appliqué et de Gestion de meknès.</p>
                        <p>Par Ayoub Benabid & Abdssamad El Aouad</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
              
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>GPS</h6>
                        </div>
                        <iframe width="90%" height="250px" id="Localisation-gps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13246.239657274818!2d-5.564702815950974!3d33.90098629035586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda05b2b7ca1f5a3%3A0x8ead1a31a5875504!2sOfppt+ISTA+bab+Tizimi!5e0!3m2!1sen!2sma!4v1554412140661!5m2!1sen!2sma" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contact</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-placeholder"></i>
                            <p>bd Lahboul, Bab Tizimi Sghir MEKNES</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>Primaire: +2125474747</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>Secondaire:+2125474774</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="icon-contract"></i>
                            <a target="blank" href="https://www.gmail.com"><p>admin@babtizimi.ma</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
    const onlineCounter = document.querySelector('#onlineCounter')

    if(onlineCounter) {
        socket.on('countUpdated', count => {
            onlineCounter.innerHTML = count
        })
    }
</script>