<footer class="footer-area">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href="/"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <p>l'istag bab tizimi , institus de technologie appliqué et de gestion de meknes.</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>liens utiles</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a target="blank" href="http://www.ofppt.ma/">OFPPT CENTRAL</a></li>
                                <li><a href="#">ISTAG ROUTE AGOURAY</a></li>
                                <li><a href="#">ISTAG AV AVENUE DES FAR</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                
                <!-- Footer Widget Area -->
                <div class="col">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contact</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-placeholder"></i>
                            <p>bab tizimi , meknes</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>officiel: +2125474747<br>secondaire:+2125474774</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="icon-contract"></i>
                            <p>babtizimi@ofppt.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>