<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BAB TIZIMI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="./vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./vendors/css/animate.css">
        <link rel="stylesheet" type="text/css" href="./resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="./resources/css/queries.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="./resources/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="./resources/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>