</head>

<body>

    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                            </div>
                            <div class="login-content">
                                <% if(locals.user) { %>
                                <a href="#" style="margin-right: 30px;"><%= user.username %></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">ETABLISSEMENT</a>
                                        <ul style="width:200%" class="dropdown">
                                            <li style="height: 40px;"><a href="/apropos">Introduction</a>
                                            </li>
                                            <li style="height: 40px;"><a href="/reglement">Réglement Interne</a>
                                            </li>
                                            <li style="height: 40px;"><a href="/empty">Chiffres Clé</a></li>
                                            <li style="height: 40px;"><a href="/empty">Organigramme</a></li>
                                            <li style="height: 40px;"><a href="/empty">Historique</a></li>
                                            <li style="height: 40px;"><a href="/empty">Site Ofppt</a>
                                            <li style="height: 40px;"><a href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </li>



                                    <li><a href="#">INSCRIPTION</a>
                                        <ul style="width:200%" class="dropdown">
                                            <!--ours de jour : listes de filières (description + modules + conditions d’accès)-->
                                            <li style="height: 40px;"><a href="/filieres">Cours de jour</a></li>
                                            <!--Cours de soir : listes de filières + condition d’accès-->
                                            <li style="height: 40px;"><a href="/filieres">Cours de soir</a></li>
                                            <li style="height: 40px;"><a href="/inscription">démarches d’inscription</a></li>
                                            <li style="height: 40px;"><a href="/empty">Formation qualifiante</a></li>
                                            <!--Formation continue : personne à contacter-->
                                            <li style="height: 40px;"><a href="/empty">Formation continue</a></li>
                                            <!--Dates clés (date de concours d’accès et date d’affichage des résultats)-->
                                            <li style="height: 40px;"><a href="/empty">Dates clés</a></li>
                                            <li style="height: 40px;"><a href="/empty">liste des admis</a></li>
                                            <li style="height: 40px;"><a href="/empty">Liste des EFP de la région</a></li>
                                            <li style="height: 40px;"><a href="/empty">Inscription en ligne</a></li>
                                        </ul>
                                    </li>


                                    <li><a href="#">ESPACE ETUDIANT</a>
                                        <ul style="width:200%" class="dropdown">
                                            <li style="height: 40px;"><a href="/empty">Emplois du temps</a></li>
                                            <!--Avis aux stagiaires (Rattrapages, Absence des formateurs, …)-->
                                            <li style="height: 40px;"><a href="/empty">Avis aux stagiaires</a></li>
                                            <!--Calendrier des examens (EFF, EFR, EFF)-->
                                            <li style="height: 40px;"><a href="/empty">Calendrier des examens</a></li>
                                            <li style="height: 40px;"><a href="/empty">Calendrier des vacances</a></li>
                                            <li style="height: 40px;"><a href="/empty">Offre d’emplois</a></li>
                                            <li style="height: 40px;"><a href="/empty">Réalisation de nos stagiaires</a></li>
                                            <li style="height: 40px;"><a href="/empty">Bource</a></li>
                                            <li style="height: 40px;"><a href="/empty">Résultats de fin
                                                    d’année</a></li>
                                            <li><a href="/empty">Stages en milieu professionnelle</a>
                                                <ul style="width:100%" class="dropdown">
                                                    <li style="height: 40px;"><a href="/empty">Planning</a></li>
                                                    <li style="height: 40px;"><a href="/empty">Liste des entreprises</a></li>
                                                    <li style="height: 40px;"><a href="/empty">Documents utiles</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">RESSOURCES</a>
                                        <ul style="width:200%" class="dropdown">

                                            <li style="height: 40px;"><a href="/empty">Charte de publication</a></li>
                                            <li style="height: 40px;"><a href="/pedagogique">Contenu Pedagogique</a></li>
                                            <li style="height: 40px;"><a href="/empty">URD</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/actualites">ACTUALITES</a></li>
                                    </li>

                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a class="mr-2" target="blank" href="https://www.istag-babtizimi.ma:444/"><img class="mr-2" src="https://img.icons8.com/material-rounded/50/000000/new-post.png">MESSAGERIE</a>
                                <% if(locals.user) { %>
                                    <a class="mr-2" target="blank" href="/users/logout"><img class="mr-2" src="https://img.icons8.com/material-rounded/24/000000/exit.png">Logout</a>
                                <% } else { %>
                                    <a class="mr-2" target="blank" href="/users/login"><img class="mr-2" src="https://img.icons8.com/ios-glyphs/24/000000/user.png">LOGIN</a>
                                <% } %>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>