</head>

<body>

<!-- ##### Preloader ##### -->
<div id="preloader">
<i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

<!-- Top Header Area -->
<div class="top-header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="header-content h-100 d-flex align-items-center justify-content-between">
                    <div class="academy-logo">
                        <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                    </div>
                    <div class="login-content">
                        <% if(locals.user) { %>
                            <a href="/administration" style="margin-right: 30px;"><%= user.username %></a>
                            <a href="/users/logout">Deconnexion</a>
                        <% } else { %>
                            <a href="/users/login">Register / Login</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar Area -->
<div class="academy-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="academyNav">

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">Acceuil</a></li>
                            <li><a href="#">Formation</a>
                                <ul class="dropdown">
                                    <li><a href="/filieres">Filieres</a></li>
                                    <li><a href="/inscription">Inscription</a></li>
                                </ul>
                            </li>
                            <li><a href="/actualites">Actualités</a></li>
                            <li><a href="#">Cours/Exercices</a></li>
                            <li><a href="/apropos">A propos</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>

                <!-- Calling Info -->
                <div class="calling-info">
                    <div class="call-center">
                        <a href="tel:+21251474115"><i class="icon-telephone-2"></i> <span>+21251474115</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</header>
<!-- ##### Header Area End ##### -->