<div class="row news">
    <img width="30px" height="30px" style="float:right" src="./resources/img/new.png">
    <a style="border-bottom: none;" href="#"><i class="fas fa-arrow-alt-circle-right icon-click"></i></a>
    <span style="display:inline-blo ;margin-bottom:10px">Titre</span>
    <P style="margin-bottom:10px">DUMMY DUMMY DUMMY DUMMY TEXT</P>
</div>