    <%- include components/header %>
    <%- include components/navbar %>

    <div class="testimonials-area section-padding-100">
        <div class="container">
            <h2 style="color:#000" class="h2-polish">CONTACT FORM</h2>
            <form>      
                <input style="color:black"  name="name" type="text" class="feedback-input" placeholder="nom et prenom" />   
                <input style="color:black" name="email" type="text" class="feedback-input" placeholder="Email" />
                <textarea style="color:black" name="text" class="feedback-input" placeholder="objet"></textarea>
                <input type="submit" value="SUBMIT"/>
            </form>
        </div>
    </div>
    
        <%- include components/footer %>

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/google-map/map-active.js"></script>
</body>

</html>