<%- include components/header %>
<%- include components/navbar %>

<form action="/actualites/new" method="post">
    <input type="text" name="title" placeholder="titre">
    <textarea name="content" cols="30" rows="10" placeholder="contenu"></textarea>
    <button type="submit">Publier</button>
</form>

<%- include components/footer %>

<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
</body>

</html>