<%- include components/header %>
<%- include components/navbar %>

<div class="testimonials-area section-padding-100" style=" background-color:#fff">
    <div class="container">
        <h1>Contenu vide</h1>
    </div>
</div>

<%- include components/footer %>

<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
</body>

</html>