    <%- include components/header %>
    <%- include components/navbar %>

    <div style="margin-top:100px" class="container">
        <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
          
                <section class="steps steps-area">
                        <div class="container">
                            <!-- title-section -->
                            <ul class="timeline">
                                <li class="timeline-box wow fadeInLeft">
                                    <i class="icon-layers"></i>
                                    <p class="timeline-title">ETAPE 1</p>
                                    <p class="timeline-details">choisissez la filiére que vous pensez pouvoir faire le mieux,Ici tous les filiéres de l'itablismenet: <a style="color:rgb(22, 22, 150)" href="/filieres.html">LES FILIERES</a> </p>
                                    <span>1</span>
                                </li>
                                <li class="timeline-box wow fadeInRight">
                                    <p class="timeline-title">ETAPE 2</p>
                                    <p class="timeline-details">APPORTER CES FICHIERS A L'ETABLISSEMENT:
                                        <div>
                                         <i  style="display:inline-block" class="fas fa-tasks"></i>
                                         <p  style="display:inline-block;color: rgb(62, 13, 223)">Dossier De l'inscription (vendu dans l'etablissment)</p>
                                        </div>

                                        <div>
                                            <i style="display:inline-block" class="fas fa-tasks"></i>
                                            <p  style="display:inline-block;color: rgb(62, 13, 223)">Photocopies de bac</p>
                                        </div>

                                        <div>
                                            <i style="display:inline-block" class="fas fa-tasks"></i>
                                            <p  style="display:inline-block;color: rgb(62, 13, 223)">Date de naissance</p>
                                        </div>
                                    </p>
                                    <span>2</span>
                                </li>
                                <li class="timeline-box  wow fadeInLeft">
                                    <i class="icon-tools"></i>
                                    <p class="timeline-title">ETAPE 3</p>
                                    <p class="timeline-details">En fonction du niveau que vous avez choisi, vous devrez peut-être réussir un test pour pouvoir être accepté dans la filière. L'examen n'est disponible qu'au niveau T. Si vous choisissez une filière avec le niveau TS, vous serez accepté en fonction de votre note de bac et du nombre de personnes qui postulent à la filiére. . </p>
                                    <span>3</span>
                                </li>
                                <li class="timeline-box wow fadeInRight">
                                    <i class="icon-trophy"></i>
                                    <p class="timeline-title">ETAPE 4</p>
                                    <p class="timeline-details">venez voir la liste des personnes acceptées, si vous êtes accepté, apportez ces fichiers:
                                                <div>
                                                    <i  style="display:inline-block" class="fas fa-tasks"></i>
                                                    <p  style="display:inline-block;color: rgb(62, 13, 223)">1000Dh(TS) / 900dh(T)</p>
                                                 </div>
           
                                                <div>
                                                    <i style="display:inline-block" class="fas fa-tasks"></i>
                                                    <p  style="display:inline-block;color: rgb(62, 13, 223)">Bac origine</p>
                                                </div>
           
                                                
                                          </p>
                                    <span>4</span>
                                </li>

                                <li class="timeline-box wow fadeInRight">
                                        <i class="icon-trophy"></i>
                                        <p class="timeline-title">ETAPE 5</p>
                                        <p class="timeline-details">si vous ne trouvez pas votre nom, attendez la liste d'attente . </p>
                                        <span>5</span>
                                    </li>

                                    <li class="timeline-box wow fadeInRight">
                                            <i class="icon-trophy"></i>
                                            <p class="timeline-title">ETAPE 6</p>
                                            <p class="timeline-details">après toutes ces étapes, si vous êtes accepté et donnez tous les fichiers et le paiement. vous viendrez à une heure précise que nous vous dirons pour commencer, vous apporterez ces fichiers avec vous:
                                                    <div>
                                                            <i  style="display:inline-block" class="fas fa-tasks"></i>
                                                            <p  style="display:inline-block;color: rgb(62, 13, 223)">Attestion medical pour l'ofppt</p>
                                                         </div>
                   
                                                        <div>
                                                            <i style="display:inline-block" class="fas fa-tasks"></i>
                                                            <p  style="display:inline-block;color: rgb(62, 13, 223)">uniforme de l'ofppt</p>
                                                        </div>. </p>
                                            <span>6</span>
                                        </li>
                            </ul>
                        </div>
                        <!-- .container -->
                
                
                            </div>                     
                            <!-- End container -->                     
                        </section>               
        </div>
    </div>

    <%- include components/footer %>

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/google-map/map-active.js"></script>
</body>

</html>