<%- include components/header %>
<%- include components/navbar %>

<div class="testimonials-area section-padding-100">
    <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
        <div class="single-top-popular-course d-flex align-items-center flex-wrap">
            <div class="popular-course-content">
                <h5>Reglement</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Urna cursus eget nunc scelerisque viverra mauris in. Nec ullamcorper sit
                    amet risus nullam eget felis eget nunc. Lorem ipsum dolor sit amet consectetur adipiscing elit ut
                    aliquam. Ullamcorper eget nulla facilisi etiam. Mauris commodo quis imperdiet massa tincidunt nunc.
                    Bibendum ut tristique et egestas. Aliquam sem fringilla ut morbi tincidunt augue interdum. Magna
                    etiam tempor orci eu lobortis elementum nibh. Leo vel fringilla est ullamcorper eget nulla facilisi
                    etiam. Fringilla ut morbi tincidunt augue interdum.

                    Praesent semper feugiat nibh sed pulvinar proin gravida. Mauris pharetra et ultrices neque ornare
                    aenean euismod elementum. Facilisis mauris sit amet massa vitae. Mattis ullamcorper velit sed
                    ullamcorper morbi tincidunt ornare massa. Pellentesque habitant morbi tristique senectus et netus.
                    Et magnis dis parturient montes nascetur ridiculus mus mauris. Id interdum velit laoreet id donec
                    ultrices tincidunt arcu. At consectetur lorem donec massa sapien. In hac habitasse platea dictumst
                    vestibulum. Congue nisi vitae suscipit tellus. Sed cras ornare arcu dui vivamus arcu felis bibendum.
                    Interdum posuere lorem ipsum dolor sit. Lacus sed turpis tincidunt id aliquet risus. Laoreet non
                    curabitur gravida arcu ac tortor dignissim. Aliquet enim tortor at auctor urna nunc id cursus. Ut
                    pharetra sit amet aliquam.

                    Scelerisque viverra mauris in aliquam sem fringilla. Sed vulputate mi sit amet. Maecenas accumsan
                    lacus vel facilisis volutpat est. Cursus mattis molestie a iaculis at erat pellentesque. Scelerisque
                    in dictum non consectetur a. Libero id faucibus nisl tincidunt eget nullam non nisi. Pharetra magna
                    ac placerat vestibulum lectus mauris ultrices eros in. Nisi porta lorem mollis aliquam. Donec
                    ultrices tincidunt arcu non sodales neque sodales ut. Sit amet consectetur adipiscing elit duis.
                    Ornare massa eget egestas purus viverra accumsan in. Ut sem nulla pharetra diam sit.

                    At auctor urna nunc id cursus metus. Accumsan in nisl nisi scelerisque. Id volutpat lacus laoreet
                    non curabitur gravida arcu. Eget nulla facilisi etiam dignissim diam quis enim. In hac habitasse
                    platea dictumst vestibulum rhoncus est. Malesuada pellentesque elit eget gravida cum sociis. Amet
                    tellus cras adipiscing enim. Turpis egestas maecenas pharetra convallis. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Ultrices neque ornare aenean euismod elementum nisi
                    quis eleifend quam.

                    Vitae tempus quam pellentesque nec. Massa placerat duis ultricies lacus sed turpis tincidunt. Massa
                    eget egestas purus viverra accumsan. Tortor pretium viverra suspendisse potenti nullam ac. Rhoncus
                    aenean vel elit scelerisque mauris pellentesque pulvinar. Sodales ut eu sem integer vitae. Volutpat
                    diam ut venenatis tellus in metus vulputate eu scelerisque. Dictum varius duis at consectetur.
                    Tristique risus nec feugiat in. Nunc sed blandit libero volutpat. Purus in mollis nunc sed id.
                    Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Nisl rhoncus mattis
                    rhoncus urna neque.

                    Congue eu consequat ac felis. Semper viverra nam libero justo laoreet. Eu nisl nunc mi ipsum
                    faucibus vitae aliquet. Odio tempor orci dapibus ultrices in iaculis nunc. Nec dui nunc mattis enim
                    ut. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Lacus vel facilisis
                    volutpat est velit egestas dui. Condimentum lacinia quis vel eros donec ac odio tempor. Lectus nulla
                    at volutpat diam ut venenatis tellus in metus. Sagittis purus sit amet volutpat consequat. Proin
                    fermentum leo vel orci porta non pulvinar. Ac odio tempor orci dapibus ultrices in. Mi bibendum
                    neque egestas congue.</p>
            </div>
            <div class="popular-course-thumb bg-img" style="background-image: url(img/bg-img/bg-4.jpg);"></div>
        </div>
    </div>
</div>

<%- include components/footer %>

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="./js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="./js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="./js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="./js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="./js/active.js"></script>
</body>

</html>